@*@{var = @ViewBag.}*@
<html>
<head>
    <title>  </title>
    <style>
        #main {
            width: 210mm;
            height: 297mm;
            border: 1px solid white;
            padding-left: 30px;
            margin-top: 50px;
            margin: 0 auto !important;
        }
        .description-capture{
            width:65%;
            background:#EEE;
            float:left;
        }
        .date-capture{
            width:35%;
            float:left;
            padding:1.5REM;
        }
        p{
            font-size:1.6rem;
        }
        .darkened{
            background:#EEE;
            padding-left:2rem;
        }
        .first {
            float: left;
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            width:40%;
        }

        .second {
            margin-top: 0px;
            float: left;
            padding:0 1rem 0 1rem;
            width:20%;
        }

        .third {
            float: left;
            margin-top: 70px;
            padding-left: 20px;
            width:40%;
        }

        .receipt {
            /*border: 2px solid red;
            border-radius: 20px;*/
            margin-top: 15px;
            padding: 10px;
            font-size: 19px;
            font-weight: bold;
            width: 90px;
            margin-left: 21px;
        }

        .head {
            padding: 10px;
            border: 1px solid white;
            width: 780px;
            height: 220px;
        }

        .num em {
            color: red;
        }

        .num {
            margin-top: -40px;
            margin-left: 60px;
        }

        .date {
            font-weight: bold;
        }

        .amount {
            padding: 10px;
            margin-top: 10px;
        }

        .sum {
            padding: 10px;
        }

        #foot {
            border: 2px solid white;
            height: 200px;
            padding: 20px;
            padding: 5px;
        }

        .one {
            float: left;
            border: 1px solid white;
            width: 50%;
        }

        .two {
            float: right;
            border: 1px solid white;
            width: 50%;
            margin-top: -135px;
        }

        .twe {
            margin-left: 80px;
        }

        #paid {
            font-size: 20px;
            margin-left: 80px;
            margin-top: -15px;
        }
            #bot {
            min-height: 20px;
        }


           table {
            width: 100%;
            border-collapse: collapse;
        }


        .service {
            border-bottom: 1px solid #EEE;
        }
           .item {
            width: 50mm;
            padding-left:2rem;
           
        }
           p {
    margin: 10px 0 10px;
}

        .itemtext {
            font-size: .3em;
        }
        .font-capital{
            text-transform:capitalize;
            font-weight:600;
        }
    </style>
</head>
    <body>
        <div id="main">
            <div class="head">

                <div class="first">
                    <h3>MAGANJO AGRO-PRODUCE Millers Ltd </h3>
                    <h6>Millers and Suppliers of Maize flour, brand etc. </h6>
                </div>

                <div class="second">
                    <img src="~/images/maglogo.jpg" alt="logo" width="150px" />



                    <a href="/Excel/ExportDocumentAsPDF?documentId=@ViewBag.documentPdf.DocumentId">
                        <p class="receipt">

                            @ViewBag.documentPdf.DocumentCategoryName
                        </p>
                    </a>
                </div>

                <div class="third">
                    <p class="num"> <em> No. @ViewBag.documentPdf.DocumentNumber </em> </p>
                    <h5> HOIMA - UGANDA </h5>
                    <h5> P.O BOX 25353, KAMPALA UGANDA </h5>
                    <h5>
                        Tel  :  777777777 / 7777777 
</h5>
                        
                </div>



            </div>
            <div class="description-capture">
            <p class="amount">
                Description :<br /> @ViewBag.documentPdf.Description
            </p>
            </div>
            <div class="date-capture"><p class="date"> Date : @ViewBag.documentPdf.CreatedOn.</p></div>
            <div class="clear15"></div>

            <p class="sum"> Amount  :  @ViewBag.documentPdf.Amount shs.</p>
            <div id="bot">
                <div id="table">
                    @if (@ViewBag.documentPdf.Grades != null)
                    {

                        foreach (var item in @ViewBag.documentPdf.Grades)
                        {
                            <p>Grade : @item.Value</p>
                            <table class="darkened">
                                <tr class="tabletitle font-uppercase">
                                    <td class="item"><h4>Size</h4></td>
                                    <td class="item"><h4>Bags</h4></td>
                                    <td class="item"><h4>Price</h4></td>
                                    <td class="item"><h4>Amount</h4></td>
                                </tr>
                            </table>
                            foreach (var x in @item.Denominations)
                            {
                                <table>
                                    <tr class="service">
                                    <tr class="tabletitle">
                                        @if (@x.Value > 0 && @x.Quantity > 0 && @x.Price > 0 && @x.Amount > 0)
                                        {
                                            <td class="item"><p>@x.Value</p></td>
                                            <td class="item"><p>@x.Quantity</p></td>
                                            <td class="item"><p>@x.Price</p></td>
                                            <td class="item"><p>@x.Amount</p></td>
                                        }

                                    </tr>

                                </table>
                            }

                        }

                    }

                    <table>
                        <tr></tr>
                        <tr>
                            <td><p> Balance  ............................................................... </p></td>
                        </tr>
                    </table>
                </div><!--End Table-->
            </div>
                @if (@ViewBag.documentPdf.DocumentCategoryName == "PaymentVoucher")
                {
                    <p class="amount">Amount in words : @ViewBag.documentPdf.AmountInWords</p>
                }
                @if (@ViewBag.documentPdf.DocumentCategoryName == "PaymentVoucher")
                {
                    <p class="amount">
                        Requested By : <span class="font-capital">@ViewBag.documentPdf.UserId</span>
</p>
                }
                else if (@ViewBag.documentPdf.DocumentCategoryName == "Receipt")
                {
                    <p class="amount">
                        Paid By :<span class="font-capital"> @ViewBag.documentPdf.UserId</span>
</p>
                    <p class="amount">
                        signature ................................................................
                    </p>
                }
                else if (@ViewBag.documentPdf.DocumentCategoryName == "Invoice")
                {
                    <p class="amount">
                        Requested By : <span class="font-capital">@ViewBag.documentPdf.UserId</span>
                    </p>

                    <p class="amount">
                        signature ................................................................
                    </p>
                }

                <p class="amount">
                    <strong>  Issued By : @ViewBag.documentPdf.CreatedBy </strong>

                </p>
                <p class="amount">
                    ................................................................
                </p>


                <div id="foot">
                    <div class="clear15"></div>
                    <div class="two">
                       

                        &nbsp;&nbsp;
                        &nbsp;
                        &nbsp;
                        @if (@ViewBag.documentPdf.DocumentCategoryName == "PaymentVoucher")
                        {
                            <p> Received By   ................................................................</p>
                        }
                       
                        &nbsp;
                        &nbsp;
                        <p id="amount"> Email : info@maganjoagroproducemillers.com</p>
                    </div> 
            </div>
    </body>
</html>


